/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #d6d4d4;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos pequeños */
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border: 10px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(78, 48, 48, 0.1);
}

/* Lado del contenido */
.side {
    text-align: center;
    font-size: 24px;
    flex: 1;
    padding: 10px;
    width: 80%;
}

/* Resultados */
.result {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    margin: auto;
}

/* Etiquetas */
label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Campos de entrada numérica */
input[type="number"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Botones */
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Emoticono */
#emoticon {
    font-size: 36px;
    margin-top: 20px;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
}

.pie{
    margin-top: 16%;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    background: black;
    color: white;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column; /* Cambia la dirección de flex en dispositivos pequeños */
        align-items: center;
    }

    .side,
    .result {
        width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
    }
}

